html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: #000;
}

#wrapper {
    min-height: 100%;
    position: relative;
    background-color: #fff;
}

footer, #menu, #footer-who a, .title-bar, .menu-icon {
    color: #b3b3b3;
}

.title-bar-title {
    margin-left: 5px;
}

footer {
    border-top-width: 4px;
    border-top-color: #f36926;
    border-top-style: solid;
    line-height: 60px;
    height: 60px;
    background-color: #000;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

#menu {
    border-bottom-width: 4px;
    border-bottom-color: #f36926;
    border-bottom-style: solid;
}

#menu, #menu ul {
    background-color: #000;
}

#menu ul li a {
    color: #b3b3b3;
    font-weight: bold;
}

.content {
    margin-top: 20px;
    padding-bottom: 60px;
}

#social-icons {
    margin-right: 20px;
}

.social-icon {
    padding: 0px 6px;
}

#footer-who {
    margin-left: 20px;
}

.asterisk {
    color: #f00;
}

.indicates-required {
    font-size: .75em;
}

.margin-medium-vertical {
    margin-top: 40px;
    margin-bottom: 40px;
}

.margin-medium-bottom {
    margin-bottom: 40px;
}