@font-face {
    font-family: 'Overpass';
    src: url(/fonts/Overpass-Regular.woff2) format('woff2'), url(/fonts/Overpass-Regular.woff) format('woff'), url(/fonts/Overpass-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000;
    font-family: 'Overpass', sans-serif;
}

#wrapper {
    min-height: 100%;
    position: relative;
    background-color: #fff;
}

a {
    color: #f36926;
}

a:hover,
a:focus {
    color: #c03600;
}

button.button,
input.button,
a.button {
    background-color: #f36926;
}

button.button:hover,
button.button:focus,
input.button:hover,
input.button:focus,
a.button:hover,
a.button:focus {
    background-color: #c03600;
}

footer,
#menu,
#footer-who a,
.title-bar,
.menu-icon {
    color: #b3b3b3;
}

#footer-who a {
    font-size: 0.9em;
}

.title-bar-title {
    /* stylelint-disable-next-line unit-whitelist */
    margin-left: 5px;
}

footer {
    /* stylelint-disable-next-line unit-whitelist */
    border-top-width: 4px;
    border-top-color: #f36926;
    border-top-style: solid;

    /* stylelint-disable-next-line unit-whitelist */
    line-height: 60px;

    /* stylelint-disable-next-line unit-whitelist */
    height: 60px;
    background-color: #000;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

#menu {
    /* stylelint-disable-next-line unit-whitelist */
    border-bottom-width: 4px;
    border-bottom-color: #f36926;
    border-bottom-style: solid;
}

#menu,
#menu ul,
.drilldown a {
    background-color: #000;
}

.drilldown a {
    padding: .7rem 1.9rem .7rem 1rem;
}

#menu ul li a,
.title-bar-title a {
    color: #b3b3b3;
    font-weight: bold;
}

.dropdown.menu>li.is-dropdown-submenu-parent>a::after {
    border-color: #b3b3b3 transparent transparent !important;
}

.drilldown .is-drilldown-submenu-parent>a::after {
    border-color: transparent transparent transparent #b3b3b3 !important;
}

.drilldown .js-drilldown-back>a::before {
    border-color: transparent #b3b3b3 transparent transparent !important;
}

.content {
    /* stylelint-disable-next-line unit-whitelist */
    margin-top: 20px;

    /* stylelint-disable-next-line unit-whitelist */
    padding-bottom: 60px;
}

#social-icons {
    /* stylelint-disable-next-line unit-whitelist */
    margin-right: 20px;
}

.social-icon {
    /* stylelint-disable-next-line unit-whitelist */
    padding: 0 6px;
}

#footer-who {
    /* stylelint-disable-next-line unit-whitelist */
    margin-left: 20px;
}

.asterisk {
    color: #f00;
}

.indicates-required {
    font-size: .75em;
}

.margin-medium-vertical {
    /* stylelint-disable-next-line unit-whitelist */
    margin-top: 40px;

    /* stylelint-disable-next-line unit-whitelist */
    margin-bottom: 40px;
}

.margin-medium-bottom {
    /* stylelint-disable-next-line unit-whitelist */
    margin-bottom: 40px;
}

.thumbnail {
    width: 100% !important;
}