.dot {
    height: 0.75em;
    width: 0.75em;
    border-radius: 50%;
    display: inline-block;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: lime;
}

.cyan {
    background-color: aqua;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: fuchsia;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
    margin-bottom: 1em;
}

.doc_nav_home {
    text-align: center;
}

code.language-grbl {
    /* stylelint-disable-next-line unit-whitelist */
    border: 1px solid #cacaca;
    background-color: #e6e6e6;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-weight: normal;
    color: #0a0a0a;
    display: block;
    overflow: auto;
    white-space: pre;
    padding: 1rem;
    margin-bottom: 1.5rem;
}