{% extends "base.html" %}
{% import "partials/helpers.html" as helpers %}

{% macro mod_entry(mod) -%}
<div class="cell medium-4">
    <h2 class="h3"><a href="{{ mod.url }}">{{ mod.title }}</a></h2>
    <a href="{{ mod.url }}">{{ helpers.image(site, 'mk1/mods/' + mod.image, 'thumbnail') }}</a>
    <p>{{ mod.description | safe }}</p>
</div>
{%- endmacro %}

{% block content %}
<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell text-center">
            <h1>Engravinator MK1 &mdash; Mods</h1>
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        {% for mod in data.mods %}
        {{ mod_entry(mod) }}
        {% endfor %}
    </div>
</div>
{% endblock %}