{% import "partials/helpers.html" as helpers %}
{% from "partials/header.html" import header %}
{% from "partials/footer.html" import footer %}

<!doctype html>
<html class="no-js" lang="en">

<head>
    {{ header(site, helpers, data) }}
</head>

<body>
    <div id="wrapper">
        {% include "partials/navigation.html" %}

        <div class="content">
            {% block content %}{% endblock %}
        </div>

        {{ footer(site, helpers) }}
    </div>
    <script src="{{ helpers.getAbsolutePath(site, 'js/jquery.min.js') }}"></script>
    <script src="{{ helpers.getAbsolutePath(site, 'js/what-input.min.js') }}"></script>
    <script src="{{ helpers.getAbsolutePath(site, 'js/foundation.min.js') }}"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>