{% import "partials/helpers.html" as helpers %}
{% from "partials/header.html" import header %}
{% from "partials/footer.html" import footer %}
{% from "partials/navigation.html" import navigation %}
{% from "partials/scripts.html" import scripts %}

<!doctype html>
<html class="no-js" lang="en">

<head>
    {{ header(site, helpers, data) }}
</head>

<body>
    <div id="wrapper">
        {{ navigation(site, helpers) }}

        <div class="content">
            {% block content %}{% endblock %}
        </div>

        {{ footer(site, helpers) }}
    </div>

    {{ scripts(site, helpers, data) }}
</body>
</html>