{% extends "base.html" %}
{% import "partials/helpers.html" as helpers %}
{% import "partials/product.html" as product %}

{% block content %}
<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell medium-4 text-center">
            {{ helpers.image(site, 'logos/logo_square_350.png') }}
        </div>
        <div class="cell auto">
            <h1>Engravinator</h1>
            <p>An open source laser engraver platform</p>
            <p>The Engravinator is a laser engraver designed as an open source project with all the designs, builds and
                instructions available for free.</p>
            <p>Instead of being a laser engraver where you bring the piece to the engraver, we have designed the
                Engravinator to be an engraver that you bring to your work piece. For example, if you are building a
                large piece of furniture, you would clamp the Engravinator down to your work piece to engrave your
                maker's mark.</p>
            <p>Currently, we are in the testing phase of the project and will update this site, our <a
                    href="https://github.com/ManiacalLabs/Engravinator">GitHub repository</a> and our <a
                    href="https://twitter.com/TheEngravinator">Twitter account</a> with our progress.</p>
            <p>
                <button class="button" data-open="subscribe-modal">Subscribe to our newsletter</button>
                <div class="reveal" id="subscribe-modal" data-reveal>
                    {% include "partials/signup.html" %}
                    <button class="close-button" data-close aria-label="Close Modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </p>
        </div>
    </div>
    <br />
    <br />
    <div class="grid-x grid-margin-x">
        <div class="cell text-center">
            <h1 class="show-for-sr">{{ data.mk1.page_title }}</h1>
            {{ helpers.picture(site, data.mk1.hero_images) }}
        </div>
        <div class="cell margin-medium-vertical">
            <div class="grid-x grid-margin-x text-center">
                {{ product.deviceImages(site, helpers, data.mk1.device_images) }}
            </div>
        </div>
        <div class="cell margin-medium-vertical">
            {{ product.awesomeFeatures(site, helpers, data.mk1.highlighted_features) }}
        </div>
        <div class="cell margin-medium-bottom">
            {{ product.buildSteps(site, helpers, data.mk1.build_steps)}}
        </div>
        <div class="cell margin-medium-bottom">
            {{ product.techSpecs(site, helpers, data.mk1.features) }}
        </div>
    </div>
</div>
{% endblock %}