{% extends "base.html" %}
{% import "partials/helpers.html" as helpers %}

{% block content %}
<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell medium-4 text-center">
            {{ helpers.image(site, 'logos/logo_square_350.png') }}
        </div>
        <div class="cell auto">
            <h1>Engravinator</h1>
            <p>An open source laser engraver</p>
            <p>The Engravinator is a laser engraver designed as an open source project with all the designs, builds and
                instructions available for free.</p>
            <p>Instead of being a laser engraver where you bring the piece to the engraver, we are designing the
                Engravinator to be an engraver that you bring to your work piece. For example, if you are building a
                large piece of furniture, you would clamp the Engravinator down to your work piece to engrave your
                maker's mark.</p>
            <p>Currently, we are in the testing phase of the project and will update this site, our <a
                    href="https://github.com/ManiacalLabs/Engravinator">GitHub repository</a> and our <a
                    href="https://twitter.com/TheEngravinator">Twitter account</a> with our progress.</p>
        </div>
    </div>
    <br />
    <br />
    <div class="grid-x grid-margin-x">
        <div class="cell medium-6 margin-medium-bottom">
            <h2 class="text-center"><a href="{{ helpers.getUrl(site, '/mk1') }}">Engravinator Mk1</a></h2>
            <div class="large reveal" id="{{ data.front_image.id }}" data-reveal data-v-offset="10px">
                {{ helpers.image(site, data.front_image.full) }}
                <button class="close-button" data-close aria-label="Close reveal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <a href="#" data-open="{{ data.front_image.id }}">{{ helpers.image(site, data.front_image.thumbnail) }}</a>
            <div class="grid-x grid-margin-x">
                {% for image in data.images %}
                <div class="large reveal" id="{{ image.id }}" data-reveal data-v-offset="10px">
                    {{ helpers.image(site, image.full) }}
                    <button class="close-button" data-close aria-label="Close reveal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="cell small-4">
                    <a href="#" data-open="{{ image.id }}">{{ helpers.image(site, image.thumbnail) }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="cell medium-6 margin-medium-bottom">
            {% include "partials/signup.html" %}
        </div>
    </div>
</div>
{% endblock %}