{% import "partials/helpers.html" as helpers %}

<!-- Icons from feather https://feathericons.com/ -->
<footer class="footer-nav hide-for-print">
    <div id="footer-who" class="float-left">
        <a href="https://maniacallabs.com/">A Maniacal Labs project</a>
    </div>
    <div id="social-icons" class="float-right">
        <a href="https://github.com/ManiacalLabs/Engravinator">{{ helpers.image('social/github.png') }}</a>
        <a href="https://twitter.com/TheEngravinator">{{ helpers.image('social/twitter.png') }}</a>
    </div>
</footer>