{% macro getAbsolutePath(site, file) -%}
{{ site.urlRoot if site.urlRoot else "/" }}{{ file }}
{%- endmacro %}

{% macro image(site, url, class='') -%}
<img class="{{ class }}" src="{{ getAbsolutePath(site, 'images/' + url) }}">
{%- endmacro %}

{% macro picture(site, images) -%}
<picture>

    {% for alt in images.alt %}
    {% set media=[] %}

    {% if alt.maxwidth %}
    {% set media=(media.push("(max-width: " + alt.maxwidth + ")"), media) %}
    {% endif %}

    {% if alt.minwidth %}
    {% set media=(media.push("(min-width: " + alt.minwidth + ")"), media) %}
    {% endif %}
    <source media="{{ media | join(' and ') }}" srcset="{{ getAbsolutePath(site, 'images/' + alt.src) }}">
    {% endfor %}

    <img src="{{ getAbsolutePath(site, 'images/' + images.default) }}">
</picture>
{%- endmacro %}

{% macro getUrl(site, path) -%}
{{ site.url }}{{ (path if path else site.path) | replace("index.html", "")}}
{%- endmacro %}