{% extends "base.html" %}
{% import "partials/helpers.html" as helpers %}

{% block content %}
<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell medium-8 medium-offset-2">
            <h1>Beta Tester Request Form</h1>
            <p><b>Thank you for your interest in beta testing the Engravinator! We have closed the beta testers program and
                will be reaching out to those who have been accepted shortly.</b>
            </p>
            <p>Please follow us on our <a href="https://github.com/ManiacalLabs/Engravinator">Github</a>, <a
                    href="https://instagram.com/TheEngravinator">Instagram</a>, <a
                    href="https://twitter.com/TheEngravinator">Twitter</a> accounts or sign up for our mailing list below
                    for updates on the project including any other opportunities to buy whole kits instead of sourcing
                    the parts yourself.</a>
            </p>
        </div>
        <div class="cell medium-8 medium-offset-2">
            {% include "partials/signup.html" %}
        </div>
    </div>
</div>
{% endblock %}